/**
 * Plugin styles
 */
.ce-header {
  padding: 1em 0;
  margin: 0;
  margin-bottom: -0.9em;
  line-height: 1.5em;
  outline: none;
}

.ce-header p,
.ce-header div{
  padding: 0 !important;
  margin: 0 !important;
}

/**
 * Styles for Plugin icon in Toolbar
 */
.ce-header__icon {}

.ce-header[contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  display: none;
}

.ce-header[contentEditable=true][data-placeholder]:empty::before {
  display: block;
}

.ce-header[contentEditable=true][data-placeholder]:empty:focus::before {
  display: none;
}

.ce-header::after {
  display: inline-block;
  content: "#" attr(data-anchor);
  color: #868896;
  position: absolute;
  left: -7rem;
  max-width: 6rem;
  word-wrap: break-word;
  font-size: 0.75rem;
  line-height: 1rem;
}

.ce-header.after-hide::after {
  display: none;
}

.cdx-settings-wrapper{
  border-bottom: 1px solid #e7e9f1;
  padding-bottom: 3px;
}

.cdx-settings-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

.cdx-settings-item svg{
  width: 1rem;
  height: 1rem;

  margin-left: 0.5rem;
  margin-right: 1rem;
}

.cdx-settings-input{
  width: 100%;
  border: 0;
  outline: none;
}

.cdx-settings-items-wrapper {
  display: flex;
  justify-content: space-between;
}
